<div class="container contact-box">
  <section class="section">

    <h2 class="pt-4 text-center mb-4">Contacteaza-ne !</h2>

    <div class="row">
      <div class="col-lg-5 mb-4" style="margin: 0 auto">
        <div class="card">

          <div class="card-body">
            <!--Header-->
            <div class="">
              <h3><i class="fa fa-envelope"></i> Scrie-ne:</h3>
            </div>

            <br>

            <!--Body-->
            <form [formGroup]="myForm" (ngSubmit)="addForm(myForm.value)">

              <div class="">
                <i class="fa fa-user"></i>
                <label for="name">Numele tau</label>
                <input type="text" id="name" class="form-control" formControlName="name">
              </div>

              <div class="">
                <i class="fa fa-envelope"></i>
                <label for="email">Adresa ta de email</label>
                <input type="email" id="email" class="form-control" formControlName="email">
              </div>

              <div class="">
                <i class="fa fa-pencil"></i>
                <label for="message">Mesaj</label>
                <textarea type="text" id="message" class="form-control" rows="3" formControlName="message"></textarea>
              </div>

              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Trimite</button>
              </div>

            </form>

          </div>

        </div>

      </div>


    </div>

  </section>
  <!--Section: Contact v.1-->



</div>
